.displayFlex(@justify, @align) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
}

.button(@bg, @color, @pv, @ph) {
  .displayFlex(center, center);
  background: darken(@bg, 12%);
  color: @color;
  padding: @pv @ph;
  border-radius: 18px;
  font-size: 1.8rem;
}
