.navbar {
    .displayFlex(flex-end, center);
    width: 800px;
    margin: 0 auto;
    padding: 3.6rem;

    .nav-logo {
        margin-right: auto;
        font-family: 'Indie Flower', serif;
        font-size: 3.5rem;
    }

    .nav-links {
        .displayFlex(space-around, center);
        width: 45%;

        .nav-link {
            .navFont();
        }
    }

    
}